@charset "utf-8";
/* CSS Doc */

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

div {
    /*background: url(/images/background.jpg);*/
}

/* Navigation styles */
nav {
    width: 100%;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/*
    background-color: #444;*/
    text-align: right;
}

nav li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    /*font-size: 1.1em;*/
    line-height: 40px;/*
    height: 40px;/*
    border-bottom: 1px solid #393434;*/
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px;
    width: 120px;
    text-align: center;
}
    
nav a:hover, a:active {
    background-color: #444;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 70px;
    height: 40px;
}

.title_links{
    font-size: 20px;
    transform: translate(-50%);
    border: 2px solid white;
}

@media screen and (max-width: 960px) {
    /* stuff for up to 960px width screen 
    #wrapper {
        width: 100%;
    }*/
}

/* *** Porfolio *** */
.Eternity{
    position: center;
    text-align: center;/*
    left: 35%;*/
}

/* *** Resume *** */
.resume{
    text-align: center;
}

/* *** About Me *** */
.about{
    text-align: center;
}

/* *** Contact *** */
.contact{
    text-align: center;
}